.cyk-kwordz-chord{
	font-style: italic;
	
}

.cyk-kwordz-lyrics{
	font-weight: bold;
}

/**/

/**/
.cyk-kwordz-infos-dataGrid{
	
}

.cyk-kwordz-infos-dataGrid .ui-datagrid-content{
	border: none;
}
/**/
.cyk-kwordz-song-infos-dataGrid{
	
}

.cyk-kwordz-song-infos-dataGrid .ui-datagrid-content{
	
}

.cyk-kwordz-song-infos-table{
	
}

.cyk-kwordz-song-infos-table .ui-widget-content{
	background: transparent;
	
}



.cyk-kwordz-song-infos-table-thumbmail{
	
}

.cyk-kwordz-song-infos-table-infos{
	
}

/**/

.cyk-kwordz-page-song-edit-panelGrid{
	width: 100%;
}

.cyk-kwordz-page-song-edit-panelGrid-leftCol{
	vertical-align: top;
	width: 200px;
}

.cyk-kwordz-page-song-edit-panelGrid-rightCol{
	vertical-align: top;
}

.cyk-kwordz-page-song-view-panelGrid{
	width: 100%;
}

.cyk-kwordz-page-song-view-panelGrid-leftCol{
	vertical-align: top;
	width: 70%;
}

.cyk-kwordz-page-song-view-panelGrid-rightCol{
	vertical-align: top;
}

.cyk-kwordz-lyrics-input-textarea{
	width: 100%;
}

.cyk-kwordz-lyrics-input-column{
	width: 50%;
}

.cyk-kwordz-lyrics-preview-column{
	vertical-align: top;
}

.cyk-kwordz-lyrics-input-panelGrid{
	width: 100%;
	
}

/* Layout */
.cyk-kwordz-layout-north-table{
	width: 100%;
}
.cyk-kwordz-layout-north-table-td-logo{
	width: 200px;
	text-align: center;
}
a.cyk-kwordz-layout-north-table-td-logo-textOnly{
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	color: red;
	padding: 0px;
	margin: 0px;
	
}
.cyk-kwordz-layout-north-table-td-searchinput{
	
	width: 60%;
}
.cyk-kwordz-layout-north-table-td-searchinput-table{
	width: 100%;
}
.cyk-kwordz-layout-north-table-td-searchinput-table-td-input{
	width: 100%;
}
.cyk-kwordz-layout-north-table-td-searchinput-table-td-input input{
	width: 100%;
	height: 22px;
}
.cyk-kwordz-layout-north-table-td-searchinput-table-td-button input{
	
}

.cyk-kwordz-layout-north-table-td-others{
	
}

/**/
.cyk-kwordz-page-library-searchinput-table{
	width: 100%;
	
}
.cyk-kwordz-page-library-searchinput-table-td-input{
	width: 100%;
}
.cyk-kwordz-page-library-searchinput-table-td-input input{
	width: 100%;
	height: 22px;
}
.cyk-kwordz-page-library-searchinput-table-td-button input{
	
}

.cyk-kwordz-page-library-song-thumbmail{
	border: 1px solid #eeeeee;
	width: 40px;
}

