.cyk-kwordz-chord{
	font-style: italic;
	
}

.cyk-kwordz-lyrics{
	font-weight: bold;
}

/**/

.cyk-kwordz-song-overview-dataGrid{
	
}

.cyk-kwordz-song-overview-dataGrid .ui-datagrid-content{
	border: none;
}

.cyk-kwordz-song-overview-table{
	
}

.cyk-kwordz-song-overview-table-tr-thumbmail{
	
}

.cyk-kwordz-song-overview-table-tr-infos{
	
}

/**/

.cyk-kwordz-page-song-edit-panelGrid{
	
}

.cyk-kwordz-page-song-edit-panelGrid-leftCol{
	vertical-align: top;
}

.cyk-kwordz-page-song-edit-panelGrid-rightCol{
	vertical-align: top;
}

.cyk-kwordz-page-song-view-panelGrid{
	width: 100%;
}

.cyk-kwordz-page-song-view-panelGrid-leftCol{
	vertical-align: top;
	width: 70%;
}

.cyk-kwordz-page-song-view-panelGrid-rightCol{
	vertical-align: top;
}

/* Layout */
.cyk-kwordz-layout-north-table{
	width: 100%;
}
.cyk-kwordz-layout-north-table-td-logo{
	width: 200px;
	text-align: center;
}
.cyk-kwordz-layout-north-table-td-logo-textOnly{
	font-weight: bold;
	font-size: 24px;
	
}
.cyk-kwordz-layout-north-table-td-searchinput{
	
	width: 60%;
}
.cyk-kwordz-layout-north-table-td-searchinput-table{
	width: 100%;
}
.cyk-kwordz-layout-north-table-td-searchinput-table-td-input{
	width: 100%;
}
.cyk-kwordz-layout-north-table-td-searchinput-table-td-input input{
	width: 100%;
	height: 27px;
}
.cyk-kwordz-layout-north-table-td-searchinput-table-td-button input{
	
}

.cyk-kwordz-layout-north-table-td-others{
	
}
